CompileFlags:
  Compiler: /usr/local/cuda/bin/nvcc
  Add:
    - "-std=c++20"
    - "-fdeclspec"
    - "-D__CUDACC__"
    - "-allow-unsupported-compiler"
  Remove:
    # strip CUDA fatbin args
    - "-Xfatbin*"
    # strip CUDA arch flags
    - "-gencode*"
    - "--generate-code*"
    # strip CUDA flags unknown to clang
    - "-ccbin*"
    - "--compiler-options*"
    - "--expt-extended-lambda"
    - "--expt-relaxed-constexpr"
    - "-forward-unknown-to-host-compiler"
    - "-Werror=cross-execution-space-call"
Hover:
  ShowAKA: Yes
InlayHints:
  Enabled: Yes
Diagnostics:
  Suppress:
    - "variadic_device_fn"
    - "attributes_not_allowed"

