---
BasedOnStyle: Microsoft    # 或 Google, WebKit, Mozilla, etc.
IndentWidth: 2       # 设置缩进宽度为 4 空格
TabWidth: 2          # Tab 的宽度为 4
UseTab: Never        # 使用空格代替 Tab（可选值: Always, Never, ForIndentation）
BreakBeforeBraces: Attach # 设置大括号样式 (如 Allman, GNU, Linux, etc.)
ColumnLimit: 100      # 每行最大字符数限制